.body_background 
{
    background-image: url("https://www.cnet.com/a/img/wzlWCOTiMTqbZ7qpQnybZfIXAGo=/940x528/2017/10/27/a50c877b-a6e1-4e31-b4fa-ede7e6bee62d/avengers-thanos-concept.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
